/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Global Style Start Here */

*, ::before, ::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #333333;
    font-family: 'Poppins', sans-serif;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0rem;
    padding-left: 0rem;
}

ul, ol {
    margin: 0px;
    padding: 0px;
}


/* Global Style Ends Here */

/*  Header Style Start Here */

.header-top {
    background-color: #f5ab1e;
    color: #ffffff;
    padding: 15px 0px 43px;
    display: inline-block;
    width: 100%;
}

.header-top-left-content {
    display: inline-block;
    text-align: left;
    width: 25%;
    margin: 0px 65px;
}

.header-top-left-content a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.5px;
    transition: all 0.4s ease-in-out 0s;
}

.header-top-left-content a:hover {
    color: #eeeeee;
}

.header-top-left-content a i {
    margin-right: 5px;
}

.header-top-center-content {
    display: inline-block;
    text-align: center;
    width: 27%;
}

.header-top-center-content h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.5px;
}

.header-top-right-content {
    display: inline-block;
    text-align: right;
    width: 37%;
}

.header-top-right-content .dropdown {
    display: inline-block;
    padding: 0px 15px;
    
}

.header-top-right-content .dropdown >  a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.5px;
    margin: 0px 10px;
    transition: all 0.4s ease-in-out 0s;
}

.header-top-right-content .dropdown .dropdown-menu {
    margin-top: 10px;
    transform: translate(16px, 31px) !important;
    min-width: 0px !important;
}

.header-top-right-content .dropdown .dropdown-menu li a{
    color: rgba(18,18,18,0.9);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.5px;
    padding: 8px 15px;
    transition: all 0.4s ease-in-out 0s;
}

.header-top-right-content .dropdown .dropdown-menu li a i {
    margin-right: 5px;
}

.header {
    position: fixed;
    top: 50px;
    left: 20px;
    right: 20px;
    vertical-align: middle;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 99;
}

.sticky {
    top: 0px;
    left: 0px;
    right: 0px;
}

.header .navbar-nav li a {
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 8px 25px !important;
    display: inline-block;
    align-items: center;
    transition: all 0.4s ease-in-out 0s;
}

.header .navbar-nav li a:hover {
    color: #f5ab1e;
}

/*  Header Style Ends Here */

/* Banner Slider Style Start Here */

.banner-slider {
    position: relative;
    display: inline-block;
}

.banner-slider .banner-slider-info {
    left: 50%;
    width: 100%;
    position: absolute;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
}

.banner-slider .owl-nav .owl-prev span,
.banner-slider .owl-next span {
    color: #ffffff;
    font-size: 36px;
    height: 50px;
    top: 50%;
    position: absolute;
    text-align: center;
    line-height: 48px;
    width: 50px;
    background-color: #f5ab1e;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.banner-slider .owl-prev span {
    left: 5px;
}

.banner-slider .owl-next span {
    right: 5px;
}

.banner-slider .owl-dots {
    display: none;
}


.banner-slider .banner-slider-items img {
    width: 100%;
}

.banner-slider .banner-slider-info h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #222222;
    display: block;
}

.banner-slider .banner-slider-info h3 {
    font-size: 32px;
    font-weight: 200;
    line-height: 32px;
    margin-top: 16px;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #222222;
}

.banner-slider .banner-slider-info a {
    text-decoration: none;
    color: #222222;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    position: relative;
    margin-top: 25px;
    padding: 8px 15px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0s;
    display: inline-block;
}

.banner-slider .banner-slider-info a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    height: 2px;
    width: 100px;
    background-color: #f5ab1e;
}

.banner-slider .banner-slider-info a:hover {
    color: #ffffff;
    background-color: #f5ab1e;
}

/* Banner Slider Style Ends Here */

/* Banner Style Start Here */

.banner {
    padding: 80px 0px;
    display: inline-block;
    width: 100%;
}

.custom-padding {
    padding: 0px 7.5px;
}

.image-grid {
    position: relative;
}

.banner img {
    width: 100%;
}

.banner .buttom-midle {
    position: absolute;
    top: 50%;
    left: 33.4%;
    margin-top: 15px;
}

.banner .banner-box {
    position: relative;
    width: 100%;
    display: inline-block;
}

.banner .banner-text {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

.banner .banner-text h4 {
    font-size: 23px;
    font-weight: 500;
    line-height: 30px;
    text-transform: capitalize;
    padding: 45px 0px 0px;
}

.banner .banner-text h2 {
    font-size: 33px;
    font-weight: 700;
    line-height: 40px;
    text-transform: capitalize;
    padding: 0px 0px 8px;
}

.banner .banner-text a {
    text-decoration: none;
    color: #222222;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 1px;
    position: relative;
    padding: 8px 15px 5px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0s;
    display: inline-block;  
}

.banner .banner-text a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    height: 2px;
    width: 105px;
    background-color: #f5ab1e;
}

.banner .banner-text a:hover {
    color: #ffffff;
    background-color: #f5ab1e;
    padding: 8px 15px;
}

/* Banner Style Ends Here */

/* Support Style Start Here */

.dotted-line {
    border: 2px dotted #dedede;
}

.no-padding {
    padding: 0px !important;
}

.suppoert-box {
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-right: 2px dotted #dedede;
    text-align: center;
}

.suppoert-box a {
    font-size: 40px;
    color: #222222;
    display: inline-block;
    margin-right: 8px;
    transition: all 0.5s ease-in-out 0s;
}

.suppoert-box a:hover i {
    color: #f5ab1e;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transition: all 0.5s ease-in-out 0s;
}

.suppoert-box ul {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.suppoert-box ul li {
    list-style-type: none;
}

.suppoert-box ul li h3 {
    font-size: 19px;
    font-weight: 500;
    line-height: 19px;
    text-transform: capitalize;
    margin: 0px;
    padding: 5px 0px 0px;
}

.suppoert-box ul li p {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: #999;
    margin-bottom: 0;
    margin-top: 2px;
    text-transform: capitalize;
}

/* Support Style Ends Here */

/* Product Style Start Here */

.product {
    padding: 80px 0px;
    display: inline-block;
    width: 100%;
}

.figure {
    padding: 10px 0px;
}

.figure-image {
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0s;
}

.product-action {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.5s ease-in-out 0s;
}

.product-action > a {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #ffffff;
    padding: 8px 0px;
    margin: 0px 3px;
    transition: all 0.5s ease-in-out 0s;
    color: #222222;
}

.figure-image:hover .product-action {
    margin-top: -55px;
}

.figure-image .product-action a:hover {
    color: #f5ab1e;
}

.figure-caption a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
    color: #333333;
    padding: 8px 0px;
    display: inline-block;
    transition: all 0.5s ease-in-out 0s;
}

.figure-caption a:hover {
    color: #f5ab1e;
}

.figure-caption p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #333333;
    padding: 0px 0px 8px;
    display: inline-block;
    margin-bottom: 0px;
}

.figure-caption .new-price {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #333333;
    display: inline-block;
}

.figure-caption .old-price {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #999999;
    pointer-events: auto;
    display: inline-block;
    text-decoration: line-through;
    margin-left: 10px;
}

.figure-image .modal-dialog {
    max-width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.figure-image .modal-body {
    text-align: left;
}

.figure-image .modal-body h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #333333;
    pointer-events: auto;
    display: block;
}

.figure-image .modal-body .new-price {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #333333;
    pointer-events: auto;
    display: inline-block;
}

.figure-image .modal-body .old-price {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #999999;
    margin-left: 10px;
    pointer-events: auto;
    display: inline-block;
    text-decoration: line-through;
}

.figure-image .modal-body ul {
    padding: 0px;
    margin: 0px;
}

.figure-image .modal-body ul li {
    text-decoration: none;
    display: inline-block;
}

.figure-image .modal-body ul li > a {
    opacity: 1;
    margin-right: 5px;
    width: auto;
    height: auto;
    top: 0;
    font-size: 12px;
    color: #333333;
}

.figure-image .modal-body p {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #8e8e8e;
}

.figure-image .modal-body a {
    color: #8e8e8e;
    padding: 0px;
    text-decoration: none;
}

.figure-image .modal-body .select-items {
    display: block;
}

.figure-image .modal-body .select-items label {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #333333;
    margin: 0px 8px 20px 0px;
    display: inline-block;
}

.figure-image .modal-body .select-items select {
    font-size: 13px;
    font-weight: 400;
    margin-left: 15px;
    padding: 8px 30px 8px 15px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    text-transform: uppercase;
}

.figure-image .modal-body .product-quantity {
    margin-top: 15px;
}

.figure-image .modal-body .product-quantity .cart-inc-dec {
    display: flex;
    border: 1px solid #eee;
    width: 105px;
}

.figure-image .modal-body .product-quantity .quantity-button {
    height: 30px;
    width: 30px;
    font-size: 22px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.figure-image .modal-body .product-quantity input {
    height: 30px;
    width: 50px;
    font-size: 13px;
    padding: 0;
    text-align: center;
    border: none;
    border-radius: 0;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.quick-list > a {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color:#f5ab1e;
    padding: 8px 0px !important;
    margin: 10px 3px;
    transition: all 0.5s ease-in-out 0s;
    color: #ffffff !important;
    text-align: center;
}

.quick-list > a:hover {
    color: #ffffff !important;
}

.modal-footer > a {
    display: inline-block;
    padding: 8px 15px;
    margin: 10px 3px;
    transition: all 0.5s ease-in-out 0s;
    text-decoration: none;
    color: #333333;
}

/* Product Style Ends Here */

/* Footer Style Start Here */

.footer {
    padding: 120px 0px;
    background-color: #333333;
    display: block;
    width: 100%;
}

.footer h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    color: #ffffff;
}

.footer address {
    text-transform: capitalize;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}

.footer address i,
.footer a i {
    margin-right: 10px;
    color: #ffffff;
}

.footer .footer-contact a,
.footer .footer-product-menu ul li a,
.footer .footer-service-menu ul li a,
.footer .footer-icon-menu ul li a  {
    text-decoration: none;
    color: #ffffff;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    transition: 0.5s all ease-in-out;
}  

.footer .footer-contact a:hover,
.footer .footer-product-menu ul li a:hover,
.footer .footer-service-menu ul li a:hover,
.footer .footer-icon-menu ul li a :hover {
    color: #f5ab1e;
}

.footer .footer-icon-menu {
    display: inline-block;
}

.footer .footer-icon-menu ul {
    text-align: center;
}

.footer .footer-icon-menu ul li {
    display: inline-block;
    margin: 8px 15px;
}

.footer .footer-icon-menu ul li a i {
    color: #ffffff;
    width: 100%;
}

.footer .footer-product-menu ul li,
.footer .footer-service-menu ul li {
    display: block;
    margin: 8px 0px;
}

.footer-bottom {
    background-color: #f5ab1e;
    text-align: center;
    padding: 12px 0px;
}

.footer-bottom p {
    color: #ffffff;
    margin-bottom: 0px;
}

.footer-bottom p a {
    text-decoration: none;
    color: #333333;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    transition: 0.5s all ease-in-out;
}

.footer-bottom p a:hover {
    color: #ffffff;
}

/* Footer Style Ends Here */

/*  Style Start Here */

/*  Style Ends Here */

/*  Style Start Here */

/*  Style Ends Here */